---
layout: default
---
{% if page._styles or page.role or page.organization or page.start or page.location %}
  <style type="text/css">
    {{ page._styles }}

    /* Added styles for project metadata */
    .project-meta {
      color: var(--global-grey);
      font-size: 0.9rem;
      margin-top: 1rem;
    }
    .project-meta p {
      margin-bottom: 0.25rem;
      display: flex;
      align-items: center;
    }
    .project-meta i {
      width: 1.5em;
      /* Give icons consistent spacing */
      text-align: center;
      margin-right: 0.25em;
    }
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <p class="post-description">{{ page.description }}</p>

    {%- comment -%}
      The project-meta block was here.
      It has been moved to _layouts/default.liquid to appear in the sidebar.
    {%- endcomment -%}
  </header>

  <article>{{ content }}</article>

  {% if page.related_publications %}
    <h2>References</h2>

    <div class="publications">{% bibliography --cited_in_order %}</div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
