---
layout: default
---
{% if page._styles %}
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  {%- comment -%}
    The <header class="post-header">...
    was moved to _layouts/default.liquid
    to fix the mobile layout stacking order.
  {%- endcomment -%}

  <article>{{ content }}</article>

  {% if page.related_publications %}
    <h2>References</h2>

    <div class="publications">{% bibliography --cited_in_order %}</div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
